
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
</head>
<body style="padding:0; margin:0">
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
        <tbody>
            <tr>
                <td valign="top" align="left" style="border-collapse:collapse">
                    <table border="0" cellspacing="0" cellpadding="0" align="center" width="650" style="border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td style="border-collapse:collapse">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td align="right" style="border-collapse:collapse">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-collapse:collapse">
                                    <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; background: url(../assets/images/NikeDunkLowHarvesMoon.jpg) no-repeat;background-size: contain;">
                                        <tbody>

                                            <tr>
                                                <td style="border-collapse:collapse">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="top" width="120" style="border-collapse:collapse">
                                                                </td>
                                                                <td align="center" width="420" style="border-collapse:collapse">
                                                                    <br />
                                                                    <span style="font-family:Arial,sans-serif;font-size:26px;line-height:36px;color:#ffffff;font-weight:normal;white-space:nowrap;display:inline-block">
                                                                        <font style="font-family:'Proxima Nova Light','Open Sans',Arial,sans-serif;font-size:26px;line-height:36px;color:#ffffff;font-weight:normal;white-space:nowrap">
                                                                            Đơn hàng của bạn đã được xác nhận.
                                                                        </font>
                                                                    </span>
                                                                    <br />
                                                                    <span style="line-height:5px">&nbsp;</span>
                                                                    <br />
                                                                    <span style="font-family:Arial,sans-serif;font-size:20px;line-height:24px;color:#ffffff;font-weight:normal">
                                                                        <font style="font-family:'Proxima Nova Light','Open Sans',Arial,sans-serif;font-size:20px;line-height:24px;color:#ffffff;font-weight:normal">
                                                                            Cảm ơn bạn đã ủng hộ shop.
                                                                        </font>
                                                                    </span>
                                                                    <br />
                                                                    <br />

                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse">
                                                                                    <span style="font-family:Arial,sans-serif;font-size:14px;line-height:24px;color:#576569;font-weight:normal">
                                                                                        <font style="font-family:'Proxima Nova Bold','Open Sans',Arial,sans-serif;font-size:14px;line-height:24px;color:#576569;font-weight:normal">
                                                                                            <a href="https://www.fitbit.com/cart/status/UNWSA9LZM?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email" style="color:#576569!important;text-decoration:none" target="_blank">Kiểm tra lại bạn nhé!</a> &nbsp;
                                                                                        </font>
                                                                                    </span>
                                                                                </td>
                                                                                <td style="border-collapse:collapse">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <br />
                                                                </td>
                                                                <td align="right" valign="bottom" width="120" style="border-collapse:collapse">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-collapse:collapse;font-size:14px;line-height:14px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="border-collapse:collapse">
                                                    <table width="550" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse: collapse;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" bgcolor="#FFFFFF" style="border-collapse: collapse; border-radius: 50px 50px 0 0;">
                                                                    <span style="line-height:14px">&nbsp;</span>
                                                                    <br />
                                                                    <span style="font-family:Arial,sans-serif;font-size:24px;line-height:36px;color:#4ac1c0;font-weight:normal">
                                                                        <font style="font-family:'Proxima Nova Light','Open Sans',Arial,sans-serif;font-size:24px;line-height:32px;color:#4ac1c0;font-weight:normal">
                                                                            Đơn hàng của {{TenKhachHang}}:
                                                                        </font>
                                                                    </span>
                                                                    <br />
                                                                    <span style="line-height:18px">&nbsp;</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" bgcolor="#FFFFFF" style="border-collapse:collapse">
                                                                    <table width="490" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" style="border-collapse:collapse">
                                                                                    <span style="font-family:Arial,sans-serif;font-size:16px;line-height:26px;color:#576569;font-weight:normal">
                                                                                        <font style="font-family:'Proxima Nova Light','Open Sans',Arial,sans-serif;font-size:16px;line-height:26px;color:#576569;font-weight:normal">
                                                                                            Mã đơn #: {{MaDon}}
                                                                                        </font>
                                                                                    </span>
                                                                                </td>
                                                                                <td align="right" style="border-collapse:collapse">
                                                                                    <span style="font-family:Arial,sans-serif;font-size:16px;line-height:26px;color:#576569;font-weight:normal">
                                                                                        <font style="font-family:'Proxima Nova Light','Open Sans',Arial,sans-serif;font-size:16px;line-height:26px;color:#576569;font-weight:normal">
                                                                                            {{NgayDat}}
                                                                                        </font>
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><span style="line-height:10px">&nbsp;</span></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" bgcolor="#FFFFFF" style="border-collapse:collapse">
                                                                    <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse">
                                                                                    <img src="http://i1.cmail1.com/ei/r/6F/709/882/063009/assets/boxinnerdivider.gif" width="500" height="1" border="0" style="display:block;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;outline-style:none;text-decoration:none;border-style:none" />
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><span style="line-height:14px">&nbsp;</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse">
                                                                                    <table width="500" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="10" style="border-collapse:collapse">&nbsp;</td>
                                                                                                <td width="49" style="border-collapse:collapse">&nbsp;</td>
                                                                                                <td width="295" align="left" style="border-collapse:collapse">
                                                                                                    <span style="font-family: Arial,sans-serif; font-size: 12px; line-height: 22px; color: black; font-weight: normal">
                                                                                                        <font style="font-family:'Proxima Nova Bold','Open Sans',Arial,sans-serif;font-size:12px;line-height:22px;font-weight:normal">
                                                                                                            Sản phẩm
                                                                                                        </font>
                                                                                                    </span>
                                                                                                </td>
                                                                                                <td width="43" align="center" style="border-collapse:collapse">
                                                                                                    <span style="font-family:Arial,sans-serif;font-size:12px;line-height:22px;color:black;font-weight:normal">
                                                                                                        <font style="font-family:'Proxima Nova Bold','Open Sans',Arial,sans-serif;font-size:12px;line-height:22px;font-weight:normal">
                                                                                                            Số lượng
                                                                                                        </font>
                                                                                                    </span>
                                                                                                </td>
                                                                                                <td width="95" align="right" style="border-collapse:collapse">
                                                                                                    <span style="font-family:Arial,sans-serif;font-size:12px;line-height:22px;color:#c3c8c9;font-weight:normal">
                                                                                                        <font style="font-family:'Proxima Nova Bold','Open Sans',Arial,sans-serif;font-size:12px;line-height:22px;color:black;font-weight:normal">
                                                                                                            Giá
                                                                                                        </font>
                                                                                                    </span>
                                                                                                </td>
                                                                                                <td width="8" style="border-collapse:collapse">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="6" style="border-collapse:collapse"><span style="line-height:4px">&nbsp;</span></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <strong>
                                                                                        <b>{{SanPham}}</b>
                                                                                    </strong>

                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><img src="http://i1.cmail1.com/ei/r/6F/709/882/063009/assets/boxinnerdivider.gif" width="500" height="1" border="0" style="display:block;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;outline-style:none;text-decoration:none;border-style:none" /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><span style="line-height:26px">&nbsp;</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse">
                                                                                    <table width="500" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="92" style="border-collapse:collapse">&nbsp;</td>
                                                                                                <td width="300" align="left" style="border-collapse:collapse">
                                                                                                    <span style="font-family:Arial,sans-serif;font-size:16px;line-height:20px;color:#123036;font-weight:normal">
                                                                                                        <font style="font-family:'Proxima Nova Bold','Open Sans',Arial,sans-serif;font-size:16px;line-height:20px;color:#123036;font-weight:normal">
                                                                                                            Tổng
                                                                                                        </font>
                                                                                                    </span>
                                                                                                </td>
                                                                                                <td width="100" align="right" style="border-collapse:collapse">
                                                                                                    <span style="font-family:Arial,sans-serif;font-size:16px;line-height:20px;color:#123036;font-weight:normal">
                                                                                                        <font style="font-family:'Proxima Nova Regular','Open Sans',Arial,sans-serif;font-size:16px;line-height:20px;color:#123036;font-weight:normal">
                                                                                                            {{TongTien}}
                                                                                                        </font>
                                                                                                    </span>
                                                                                                </td>
                                                                                                <td width="8" style="border-collapse:collapse">&nbsp;</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><span style="line-height:26px">&nbsp;</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><span style="line-height:14px">&nbsp;</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><span style="line-height:14px">&nbsp;</span></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td bgcolor="#FFFFFF" style="border-collapse:collapse"><img src="http://i2.cmail1.com/ei/r/6F/709/882/063009/assets/boxdivider.gif" width="550" height="1" border="0" style="display:block;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;outline-style:none;text-decoration:none;border-style:none" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td bgcolor="#FFFFFF" style="border-collapse:collapse"><span style="line-height:18px">&nbsp;</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" bgcolor="#FFFFFF" style="border-collapse: collapse; border-radius: 0 0 50px 50px;">
                                                                    <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse">
                                                                                    <span style="font-family:Arial,sans-serif;font-size:20px;line-height:36px;color:#4ac1c0;font-weight:normal">
                                                                                        <font style="font-family:'Proxima Nova Regular','Open Sans',Arial,sans-serif;font-size:20px;line-height:36px;color:#4ac1c0;font-weight:normal">
                                                                                            Sent to:
                                                                                        </font>
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><span style="line-height:13px">&nbsp;</span></td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top" style="border-collapse:collapse">
                                                                                    <span style="font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#123036;font-weight:normal">
                                                                                        <font style="font-family:'Proxima Nova Bold','Open Sans',Arial,sans-serif;font-size:16px;line-height:22px;color:#123036;font-weight:normal">
                                                                                            <b>{{TenKhachHang}}</b><br />
                                                                                            {{DiaChiNhanHang}}<br />
                                                                                            {{Phone}}<br />
                                                                                            {{Email}}
                                                                                        </font>
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top" style="border-collapse:collapse"><span style="line-height:22px">&nbsp;</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse"><span style="line-height:12px">&nbsp;</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-collapse:collapse">
                                                                                    &nbsp;
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="border-collapse:collapse">
                                                    <br />
                                                    <br />
                                                    <span style="font-family:Arial,sans-serif;font-size:16px;line-height:24px;color:#ffffff;font-weight:normal">
                                                        <font style="font-family:'Proxima Nova Regular','Open Sans',Arial,sans-serif;font-size:16px;line-height:24px;color:#ffffff;font-weight:normal">
                                                            If you have any questions about your order,<br />
                                                            please <a href="http://help.fitbit.com/?cu=1" target="_blank">contact us</a>.<br />
                                                        </font>
                                                    </span>
                                                    <br />
                                                    <br />
                                                    <br />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#f6f6f6" style="border-collapse:collapse" align="center">
                                    &nbsp;

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>