@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Interiors</title>
    <link rel="stylesheet" href="~/Content/css/slide.css">
</head>
<body>
    <input type="radio" name="slide" id="s1" checked>
    <input type="radio" name="slide" id="s2">
    <input type="radio" name="slide" id="s3">
    <input type="radio" name="slide" id="s4">
    <input type="radio" name="slide" id="s5">
    <div class="slider">
        <label for="s1" class="slide">
            <img src="~/Content/images/Pic/new-1.jpg" alt="">
        </label>
        <label for="s2" class="slide">
            <img src="~/Content/images/Pic/new-2.jpg" alt="">
        </label>
        <label for="s3" class="slide">
            <img src="~/Content/images/Pic/new-3.jpg" alt="">
        </label>
        <label for="s4" class="slide">
            <img src="~/Content/images/Pic/new-4.jpg" alt="">
        </label>
        <label for="s5" class="slide">
            <img src="~/Content/images/Pic/new-5.jpg" alt="">
        </label>
    </div>
    <div class="textarea">
        <div class="text">
            <h3>DE</h3>
        </div>
        <div class="text">
            <h3>LI</h3>
        </div>
        <div class="text">
            <h3>CA</h3>
        </div>
        <div class="text">
            <h3>DO</h3>
        </div>
        <div class="text">
            <h3>DELICADO</h3>
        </div>
    </div>
</body>
</html>
