@{
    Layout = null;
}

@model IEnumerable<NoiThat.Models.Supplier>

<h6 class="title text-uppercase">Các nhà cung cấp</h6>
<ul class="list-unstyled">
    @*@foreach (var supp in Model)
        {
            <li> <a href="#">@supp.Name</a></li>

        }*@
    <li> <a class="fas fa-building" href=""> Mutech</a></li>
    <li> <a class="fas fa-building" href=""> ChelTech</a></li>
    <li> <a class="fas fa-building" href=""> AseTech</a></li>
    <li> <a class="fas fa-building" href=""> DangHandsome</a></li>
</ul>
