<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dinhphu69-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5222.site4now.net:8172/msdeploy.axd?site=dinhphu69-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>dinhphu69-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>dinhphu69-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="StrConnect" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NoiThat.Models.NoiThatDBContext, NoiThat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NoiThat.Properties.Settings.StrConnect" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5094.site4now.net;Initial Catalog=db_a97522_dinhphu69;User ID=db_a97522_dinhphu69_admin;Password=dinhphu69" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-JN1NCSEF\SQLEXPRESS;Initial Catalog=NoiThat;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NoiThat.Properties.Settings.StrConnect_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-JN1NCSEF\SQLEXPRESS;Initial Catalog=NoiThat;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NoiThat.Properties.Settings.StrConnect-Web.config Connection String">
      <ParameterValue>Data Source=SQL5094.site4now.net;Initial Catalog=db_a97522_dinhphu69;User ID=db_a97522_dinhphu69_admin;Password=dinhphu69</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StrConnect-Web.config Connection String" />
  </ItemGroup>
</Project>